body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
    overflow-x: hidden;
    font-family: Inter, sans-serif;
}
p{
    color: #5b5b5b;
    font-family: 'Inter';
    margin: 0;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 5px 20px;
    box-shadow: 0 2px 14px 0 rgba(146,167,191,.2)
}
.nav_element{
    vertical-align: middle;
}
.nav_element>ul{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    width: 100%;
    font-size: 12px;
    color: #525252;
    font-weight: 600;
    padding: 0;
}
.nav_element>ul>li,.nav_element>ul>li>p{
    margin-top: 3px;
    padding: 0px 10px 0px 10px;
}
.nav_element_input>input{
    height: 25px;
    border: none;
}
.nav_element_input>input ,.nav_element_button:focus{
    outline: none;
}
.nav_element_input{
    border: 1px solid #204672;
    border-radius: 8px;
    min-width: 250px;
    align-items: center;
    padding: 5px;
    display: flex;
    height: 30px;
}
.nav_element_button{
    padding: 8px 16px;
    border-radius: 8px;
    background: none;
    transition: all 300ms ease;
    font-family: Inter, sans-serif;
    color: #f55327;
    font-size: 10px !important;
    font-weight: 600;
    letter-spacing: 0.4px;
    border: none;
    cursor: pointer;
}
.nav_element_select{
    border: none;
    width: 100px;
}
.nav_element_button:hover{
    background-color: #f55327;
    color: #fff;
}

@media screen and (max-width: 480px){
    .hero_section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2% 1%;
        width: 100%;
        gap: 20px;
        height: 150vh !important;
        background-image: url("./Images/bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .hero_section_info{
        width: 100%;
        height: 50vh;
        margin-top: -100px;
        margin-bottom: 50px;
    }
    .hero_section_info>p:first-of-type{
        font-size: 32px !important;
    }
    .hero_section_info>p:last-of-type{
        font-size: 16px !important;
    }
    .hero_section>div:last-of-type{
        height: 100vh;
    }
    .hero_section>div{
        width: 100% !important;
    }
    .slider_card>div{
        display: flex;
        flex-direction: column;
    }
    .card_flex_1{
        width: 100% !important;
        border-right: none !important;
    }
    .card_flex_2{
        padding-top: 0px !important;
        width: 100% !important;
    }
    .categories{
        padding: 30px 30px 0px 30px !important;
    }
    .categories>div{
        display: grid !important;
        grid-template-columns: repeat(1,1fr) !important;
        gap: 20px !important;
    }
    .next_person{
        width: 100%  !important;
        height: 122vh  !important;
    }
    .next_person>div{
        display: grid  !important;
        grid-template-columns: repeat(1,95%) !important;
        
    }
    .find_workers{
        margin-top: 150px !important;
        padding: 0px 20px 20px 20px !important;
        justify-content: center !important;
        text-align: center !important;
        margin-bottom: 100px;
    }
    .find_workers_box{
        justify-content: center !important;
        flex-direction: column;
        gap: 0px !important;
    }
    .find_workers_box>img{
        margin: auto !important;
        width: 100px !important;
    }
    .find_workers_box>div:first-of-type{
        width: 100% !important;
        margin-top: -100px !important;
    }
    .empl_cards_container{
        padding: 50px 10px 30px 10px !important;
    }
    .empl_cards_box{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .time_zone_container>div{
        flex-direction: column !important;
        padding: 40px 10px !important;
    }
    .time_zone>div:last-of-type{
        width: 100% !important;
        text-align: center !important;
    }
    .time_zone>div>img{
        width: 70%;
    }
    .time_zone>div:first-of-type{
        margin-top: 0px !important;
    }
    .bottom_hero>div>div:first-of-type>p:first-of-type{
        font-size: 32px !important;
    }
    .footer{
        padding: 10px !important;
        background-color: #191e22;
    }

    .footer_container_flex{
        gap: 10px !important;
        flex-direction: column !important;
        text-align: center !important;
        width: 100% !important;
        margin-bottom: 10px !important;
    }
}


div{
    display: block;
}

.slider_card{
    width: 90%;
    /* margin: 50px; */
    display: flex;
    justify-content: center;
}
.slider_card>div{
    display: flex;
    padding: 10px;
    gap: 20px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 25%), 0 15px 30px 0 rgb(0 0 0 / 25%);
    /* border-top: 4px solid #383838; */
    background-color: #fff;
}
.card_flex_1{
    padding-top: 10px;
    width: 60%;
    border-right: 1px solid #bfa9924e;
    position: relative;
}
.card_flex_2{
    padding-top: 10px;
    width: 40%;
    position: relative;
}
.card_flex_1>div:first-child{
    display: flex;
    gap: 10px;
}
.small_text{
    font-size: 10px !important;
    font-weight: 400;
    line-height: 1;
    padding: 3px 0px;
}
.small_bold_text{
    /* margin-top: -8px; */
    line-height: 1.3;
    font-size: 12px;
    font-weight: 400;
}
.rating_card>i{
    color: #FFAE00;
    margin-bottom: 10px;
}


.full_time{
    border-top-right-radius: 5px;
    color: #5b5b5b;
    font-family: Muli,sans-serif;
    font-size: 10px !important;
    font-weight: 700;
    background: #f2f4f7;
    padding: 8px 16px;
    position: absolute;
    top: 0;
    right: 0;
}
.hero_section{
    display: flex;
    justify-content: center;
    padding: 2% 10% 2% 5%;
    width: 100%;
    gap: 50px;
    height: 80vh;
    background-image: url("./Images/bg.png");
    background-repeat: no-repeat;
    background-size: 110% 100%;
}
.hero_section>div:first-of-type{
    width: 45%;
    margin-top: 55px;
}
.hero_section_info{
    width: 50%;
    height: 100%;
    margin-top: -40px;
}
.hero_section_info>div>p:first-child{
    font-size: 30px !important;
    font-weight: 700;
    line-height: 1;
    margin-top: 100px;
    margin-bottom: 30px;
}
.hero_section_info>div>p:last-child{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 0px;
    letter-spacing: 0.3px;
    color: #5b5b5b;
}
.hero_section_info>button{
    margin-top: 50px;
    padding: 12px 56px;
    border-radius: 8px;
    background-color: #f55327;
    transition: all 300ms ease;
    font-family: Inter, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-decoration: none;
    cursor: pointer;
    
}
.hero_section_info>button:hover{
    box-shadow: rgb(214, 63, 21) 0px 10px 20px, rgb(230, 64, 14) 0px 3px 0px;
}

.slider_card_skills-2{
    width: 70%;
    font-size: 14px;
    padding: 5px 8px;
    margin-right: 5px;
    font-family: Muli,sans-serif;
    margin-bottom: 5px;
    border: 1px solid #278AE6;
    color: #278AE6;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
}
.slider_card_skills-1{
    width: 70%;
    font-size: 14px;
    padding: 5px 8px;
    margin-right: 5px;
    font-family: Muli,sans-serif;
    margin-bottom: 5px;
    border: 1px solid #EBAF18;
    color: #EBAF18;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
}
.view_button{ 
    font-size: 8px !important;
    padding: 6px 6px;
    color: #f55327;
    transition: all 500ms ease;
    font-family: Inter, sans-serif;
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: uppercase;
    background-clip: border-box;
    cursor: pointer;
    background: rgba(254, 94, 51, 0.08);
    border: 1px solid rgba(254, 94, 51, 0.16);
    border-radius: 48px;
}
.view_button:focus{
    outline: none;
}


.categories{
    position: relative;
    margin: 50px 0px;
    padding: 100px 0px;
    background-image: linear-gradient(180deg, hsla(0, 0%, 85%, 0), #d9d9d9);
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.categories>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 70%;
    margin: auto;
}
.categories>div>div:hover p{
    color: #fff;
}
.categories>div>div:hover{
    background-color: #f55327;
    color: #fff;
}
.categories>div>div{
    padding: 20px 30px 0px 20px;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 12px 0 rgb(74 144 226 / 12%), 0 8px 18px 0 rgb(89 134 187 / 10%);
    height: 100%;
    transition: all 300ms ease;
}
.categories>div>div>div>p{
    color: #000;
}
.hero_bg_design{
    position: absolute;
    top: 0;
    right: 0;
}
.categories>div>div>img{
    margin-bottom: 12px;
}
.categories>div>div>p:last-of-type{
    display: flex;
    justify-content: flex-end;
}
.bold_names{
    font-weight: 600;
    font-size: 14px;
}
.semibold_text{
    font-weight: 500;
    font-size: 12px;
}
.gray_subtext{
    font-size: 12px;
    margin-bottom: 15px;
}

.category_bg_design{
    position: absolute;
    top: 400px;
    left: 0;
}


.next_person{
    width: 100%;
    height: 52vh;
}
.next_person>div{
    display: grid;
    grid-template-columns: repeat(3,17%);
    justify-content: center;
    gap: 20px;
}
.next_person>div>div>div:last-of-type{
    justify-content: space-between;
}
.next_person_card{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 16px 0 rgb(74 144 226 / 12%), 0 15px 30px 0 rgb(89 134 187 / 10%);
    background-color: #fff;
    padding: 18px 10px 15px;
    border-radius: 10px;
    border-top: 4px solid #f55327;
}
.next_person_card>div{
    display: flex;
    gap: 10px;
}
.next_person_card>div>img{
    width: 70px;
    height: 70px;
}

#carouselExampleIndicators >ol> li {
    border-radius: 50%;
    color: #F55327;
  }
.carousel-indicators li>p {
    border-radius: 12px;
    width: 16px;
    height: 16px;
    background-color: #40404022;
}
.carosuellist li.active{
    width: 16px;
    height: 16px;
    background-color: #F55327 !important;
}

.slider_box{
    position: relative;
    width: 100%;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    background-color: #f2f4f7;
    padding: 60px 0px 120px 0px;
    position: relative;
    margin-bottom: 45px;
}



.find_workers{
    padding: 0px !important;
    width:100%;
    margin: 0 !important;
    background-color: #f2f4f7;
    padding: 50px;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 150px;
}
.book_now_btn{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.book_now_btn>button{
    margin-top: 50px;
    padding: 12px 56px;
    border-radius: 8px;
    background-color: #f55327;
    transition: all 300ms ease;
    font-family: Inter, sans-serif;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-decoration: none;
    cursor: pointer;
}
.find_workers_box{
    justify-content: center;
    display: flex;
    gap: 30px;
    vertical-align: middle;
    margin-left: 100px;
    margin-top: 100px;
}

.find_workers_box>div:first-of-type{
    display: flex;
    justify-content: flex-end;
}
.find_workers_box>div:nth-child(2){
    width: 45%;
}
.find_workers_box>div:nth-child(2)>div{
    display: flex;
    gap: 15px;
}
.find_workers_box>div:nth-child(2)>div>img{
    margin-top: -80px;
    line-height: 0;
}
.find_workers_box>div:nth-child(2)>div>div>p:first-of-type{
    font-size: 22px;
    line-height: 1;
    color: #000;
    font-weight: 700;
}
.find_workers_box>div:nth-child(2)>div>div>p:last-of-type{
    font-size: 18px;
}
.line_big{
    width: 100%;
    height: 1px;
    border-bottom: 2px solid rgba(135, 135, 135, 0.297);
    margin-bottom: 15px;
}

.find_workers_li>li{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: -40px;
}
.find_workers_li>li>img{
    width: 20px;
    height: 20px;
}

.find_workers_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #d5dbe8;
    width: 330px;
    position: relative;
}
.find_workers_input>input,button{
    border: none;
}
.find_workers_input>input,button:focus{
    outline: none;
}
.find_workers_input>input{
    border: none;
    height: 50px;
    width: calc(100% - 125px);
    border-radius: 0;
    background-color: transparent;
    font-family: Muli,sans-serif;
    padding: 15px;
}
.find_workers_input>button{
    height: 100%;
    text-transform: uppercase;
    width: 125px;
    border-radius: 0 9px 9px 0;
    background-color: #F55327;
    position: absolute;
    right: 0;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    font-family: Muli,sans-serif;
    border: none;
    cursor: pointer;
}


.empl_cards_container{
    margin-top: -20px;
    padding: 50px 0px 0px 0px;
    float: left;
    width: 100%;
    position: relative;
    
}
.empl_cards_box{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.empl_cards_box>div{
    width: 30%;
}

.time_zone_container>div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 100px;
}
.time_zone>div:last-of-type{
    width: 50%;
    text-align: center;
}
.time_zone>div>img{
    width: 70%;
}
.time_zone>div:first-of-type{
    padding-left: 30px;
}

.bottom_hero{
    width: 100%;
}
.bottom_hero>div{
    width: 100%;
    color: white;
    position: static;
    display: flex;
    float: none;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;
    border-top-left-radius: 120px;
    background-color: #191e22;
}

.bottom_hero>div>div:first-of-type{
    display: block;
    max-width: 550px;
    padding-left: 100px;
    align-self: auto;
    flex: 0 auto;
    margin-left: auto;
    margin-right: auto;
}
.bottom_hero>div>div:last-of-type{
    content: "";
    position: static;
    overflow: visible;
    width: 56vw;
    height: 470px;
    background-color: #dbdbdb;
    /* background-image: linear-gradient(linear, left top, right top, from(#191e22), color-stop(53%, rgba(38, 39, 51, 0))), url(https://uploads-ssl.webflow.com/610c139…/610c139…_image_coach.jpg); */
    background-image: linear-gradient(90deg, #191e22, rgba(38, 39, 51, 0) 53%), url(https://uploads-ssl.webflow.com/610c139c483b98bae0300b73/610c139c483b98d4d2300b90_image_coach.jpg);
    /* background-position: 0px 0px, 0px 0px; */
    background-size: auto, cover;
    -o-object-fit: fill;
    object-fit: fill;
}
.bottom_hero>div>div:first-of-type>button{
    border-radius: 8px;
    background-color: #f55327;
    transition: all 300ms ease;
    font-family: Inter, sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: uppercase;
    background-clip: border-box;
    cursor: pointer;
    padding: 12px 34px;
    margin-top: 50px;
}


.footer{
    width: 100%;
    padding: 32px 72px 0px;
    background-color: #191e22;
}
.footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid #888d9e8e;
}
.footer_container_flex{
    display: flex;
    justify-content: flex-end;
    gap: 72px;
}

.card_flex_1>div>div>img{
    border-radius: 50%;
}

.categories>div>div>div{
    display: flex;
    gap: 40px;
    padding-bottom: 20px;
}
.categories>div>div>div>p{
    margin-top: 30px;
    font-size: 30px;
}
.categories>div>div>div>img{
    border-radius: 50%;
    border: 1px solid #9598a165;
}
.next_person_card>div>img{
    border-radius: 50%;
}




@media screen and (max-width: 767px) and (min-width: 480px){
    .hero_section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2% 1%;
        width: 100%;
        gap: 20px;
        height: 150vh !important;
        background-image: url("./Images/bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .hero_section_info{
        width: 100%;
        height: 50vh;
        margin-top: -100px;
        margin-bottom: 50px;
    }
    .hero_section_info>p:first-of-type{
        font-size: 32px !important;
    }
    .hero_section_info>p:last-of-type{
        font-size: 16px !important;
    }
    .hero_section>div:last-of-type{
        height: 100vh;
    }
    .hero_section>div{
        width: 100% !important;
    }
    .slider_card>div{
        display: flex;
        flex-direction: column;
    }
    .card_flex_1{
        width: 100% !important;
        border-right: none !important;
    }
    .card_flex_2{
        padding-top: 0px !important;
        width: 100% !important;
    }
    .empl_cards_box{
        padding:0px 50px !important;
    }
    .empl_cards_box>div>div{
        display: flex;
        flex-direction: row !important;
    }
    .empl_cards_box>.slider_card>div>.card_flex_1{
        width: 40% !important;
        border-right: 1px solid rgba(143, 117, 96, 0.639) !important;
    }
    .empl_cards_box>.slider_card>div>.card_flex_2{
        padding-top: 20px !important;
        width: 60% !important;
    }
    .categories{
        padding: 30px 30px 0px 30px !important;
    }
    .categories>div{
        display: grid !important;
        grid-template-columns: repeat(1,1fr) !important;
        gap: 20px !important;
        
    }
    .next_person{
        width: 100%  !important;
        height: 122vh  !important;
    }
    .next_person>div{
        display: grid  !important;
        grid-template-columns: repeat(1,95%) !important;
        
    }
    .find_workers{
        margin-top: 150px !important;
        padding: 0px 20px 20px 20px !important;
        justify-content: center !important;
        text-align: center !important;
        margin-bottom: 100px;
    }
    .find_workers_box{
        justify-content: center !important;
        flex-direction: column;
        gap: 0px !important;
    }
    .find_workers_box>img{
        margin: auto !important;
        width: 100px !important;
    }
    .find_workers_box>div:first-of-type{
        width: 100% !important;
        margin-top: -100px !important;
    }
    .empl_cards_container{
        padding: 50px 10px 30px 10px !important;
    }
    .empl_cards_box{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .time_zone_container>div{
        flex-direction: column !important;
        padding: 40px 10px !important;
        justify-content: center !important;
        text-align: center !important;
    }
    .time_zone>div:last-of-type{
        width: 100% !important;
        text-align: center !important;
    }
    .time_zone>div>img{
        width: 50%;
    }
    .time_zone>div:first-of-type{
        margin-top: 0px !important;
    }
    .bottom_hero>div>div:first-of-type>p:first-of-type{
        font-size: 32px !important;
    }
    .footer{
        padding: 10px !important;
        background-color: #191e22;
    }

    .footer_container_flex{
        gap: 10px !important;
        flex-direction: column !important;
        text-align: center !important;
        width: 100% !important;
        margin-bottom: 10px !important;
    }
}


@media screen and (min-width: 767px) and (max-width: 1024px){
    .hero_section{
        padding: 20px;
    }
    .hero_section_info>p:first-of-type{
        font-size: 32px !important;
    }
    .hero_section_info>p:last-of-type{
        font-size: 16px !important;
    }
    .empl_cards_box{
        padding:0px 50px !important;
    }
    .empl_cards_box>div>div{
        display: flex;
        flex-direction: row !important;
    }
    .empl_cards_box>.slider_card>div>.card_flex_1{
        width: 40% !important;
        border-right: 1px solid rgba(143, 117, 96, 0.639) !important;
    }
    .empl_cards_box>.slider_card>div>.card_flex_2{
        padding-top: 20px !important;
        width: 60% !important;
    }
    .categories{
        padding: 30px 30px 0px 30px !important;
    }
    .categories>div{
        display: grid !important;
        grid-template-columns: repeat(2,1fr) !important;
        gap: 20px !important;
        
    }
    .next_person{
        width: 100%  !important;
        height: 122vh  !important;
    }
    .next_person>div{
        display: grid  !important;
        grid-template-columns: repeat(1,95%) !important;
        
    }
    .find_workers{
        margin-top: 150px !important;
        padding: 0px 20px 20px 20px !important;
        margin-bottom: 100px;
    }
    .find_workers_box{
        gap: 20px !important;
    }
    .find_workers_box>div:first-of-type{
        width: 50% !important;
        margin-top: -100px !important;
    }
    .empl_cards_container{
        padding: 50px 10px 30px 10px !important;
    }
    .empl_cards_box{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .time_zone_container>div{
        flex-direction: column !important;
        padding: 40px 10px !important;
        justify-content: center !important;
        text-align: center !important;
    }
    .time_zone>div:last-of-type{
        width: 100% !important;
        text-align: center !important;
    }
    .time_zone>div>img{
        width: 50%;
    }
    .time_zone>div:first-of-type{
        margin-top: 0px !important;
    }
    .bottom_hero>div>div:first-of-type>p:first-of-type{
        font-size: 32px !important;
    }
    .footer{
        padding: 10px !important;
        background-color: #191e22;
    }

    .footer_container_flex{
        gap: 10px !important;
        flex-direction: column !important;
        text-align: center !important;
        width: 100% !important;
        margin-bottom: 10px !important;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1180px){
    .hero_section{
        padding: 40px;
    }
    .hero_section_info>p:first-of-type{
        font-size: 46px !important;
    }
    .hero_section_info>p:last-of-type{
        font-size: 20px !important;
    }
    .empl_cards_box{
        padding:0px 100px !important;
    }
    .empl_cards_box>div>div{
        display: flex;
        flex-direction: row !important;
    }
    .empl_cards_box>.slider_card>div>.card_flex_1{
        width: 40% !important;
        border-right: 1px solid rgba(143, 117, 96, 0.639) !important;
    }
    .empl_cards_box>.slider_card>div>.card_flex_2{
        padding-top: 20px !important;
        width: 60% !important;
    }
    .categories{
        padding: 30px 70px 0px 70px !important;
    }
    .categories>div{
        display: grid !important;
        grid-template-columns: repeat(2,1fr) !important;
        gap: 20px !important;
        
    }
    .next_person{
        width: 100%  !important;
        height: 122vh  !important;
    }
    .next_person>div{
        display: grid  !important;
        grid-template-columns: repeat(1,95%) !important;
        
    }
    .find_workers{
        margin-top: 150px !important;
        padding: 0px 20px 20px 20px !important;
        margin-bottom: 100px;
    }
    .find_workers_box{
        gap: 20px !important;
    }
    .find_workers_box>div:first-of-type{
        width: 50% !important;
        margin-top: -30px !important;
    }
    .empl_cards_container{
        padding: 50px 10px 30px 10px !important;
    }
    .empl_cards_box{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .time_zone_container>div{
        padding: 40px 0px 40px 60px!important;
        justify-content: center !important;
        text-align: center !important;
    }
    .time_zone>div:last-of-type{
        width: 100% !important;
        text-align: center !important;
    }
    .time_zone>div>img{
        width: 50%;
    }
    .time_zone>div:first-of-type{
        margin-top: 0px !important;
    }
    
    
}



